@each $breakpoint, $width in $grid-breakpoints {
    @include media-breakpoint-down($breakpoint) {
        .navbar-expand#{breakpoint-infix(breakpoint-next($breakpoint, $grid-breakpoints), $grid-breakpoints)} {
            .navbar-collapse {
                &.offcanvas {
                    position: fixed;
                    top: 3.5em;
                    right: 0;
                    bottom: 0;
                    padding: 0 1em;
                    transition: transform 0.25s ease-in-out;
                    max-width: 80vw;
                    transform: translateX(100%);
                    &.collapsing {
                        position: fixed;
                        height: auto;
                        transition: transform 0.25s ease-in-out;
                        @media (prefers-reduced-motion: reduce) {
                            transition: none;
                        }
                    }
                    &.show {
                        transform: translateX(0);
                    }
                }
            }
        }
    }
}