@import "custom";
@import "components/_carousel.scss";
@import "components/_forms.scss";
@import "../node_modules/aos/dist/aos.css";

body {
    overflow-x: hidden;
}

h1, h2 h3, h4, h5, h6 {
    font-family: $font-family-sans-serif;
}

.element {
    margin-top: $grid-gutter-width / 2;
    margin-bottom: $grid-gutter-width / 2;
}

table {
    @extend .table;
}

.captionImage {
    @extend .figure;
    img {
        @extend .figure-img;
        @extend .img-fluid;
        @extend .rounded;
    }
    .caption {
        @extend .figure-caption;
    }
}

.embed {
    @extend .embed-responsive;   
    @extend .embed-responsive-16by9;
    max-width: 100%;
}

.break-out {
    flex: none;
    max-width: calc(100vw);
    width: calc(100vw);
    position: relative;
    left: calc(-1 * (100vw - 100%) / 2);
    padding-left: 0;
    padding-right: 0;
}
